body {
  font-family: "Fira Sans", sans-serif;
}
a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: lightcoral;
}

h1 {
  text-align: center;
  color: darkcyan;
}
p {
  text-align: justify;
  color: gray;
}
#first-id {
  text-align: justify;
  color: gold;
  font-weight: bolder;
  font-size: 36px;
}
